/* centre whole div */
.main{
    text-align: center;

}
/* styling to clock */
.clock{
    padding: 10px;
    text-align: center;
    background-color: black;
    color: blanchedalmond;
    font-size: xx-large;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
/* styling to date */
#date{
    text-align: left;
    background-color: black;
    color: blanchedalmond;
    padding: 10px;
}

h1{
    font-size:xxx-large;
     
}

body{
margin: 0;
}